# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
lib/*

# Executables
*.exe
*.out
*.app
bin/*

# Directories
build
scratch

# Eclipse files
.cproject
.project
.settings
