# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
lib/*

# Executables
*.exe
*.out
*.app
bin/*

# Directories
build
scratch

# Eclipse files
.settings

# Thrift files

# generic ignores
*.deps
*.dirstamp
*.libs
*.log
*.trs
*.suo
*.pyc
*.cache
*.user
*.ipch
*.sdf
*.jar
*.exe
*.dll
*_ReSharper*
*.opensdf
*.swp
*.hi
*~

.*project
junit*.properties
gen-*
Makefile.in
aclocal.m4
acinclude.m4
autom4te.cache
node_modules
compile
test-driver

.sonar
.DS_Store

/external/thrift-0.9.1/contrib/.vagrant/
/external/thrift-0.9.1/aclocal/libtool.m4
/external/thrift-0.9.1/aclocal/lt*.m4
/external/thrift-0.9.1/autoscan.log
/external/thrift-0.9.1/autoscan-*.log
/external/thrift-0.9.1/compiler/cpp/Debug
/external/thrift-0.9.1/compiler/cpp/libparse.a
/external/thrift-0.9.1/compiler/cpp/src/thriftl.cc
/external/thrift-0.9.1/compiler/cpp/src/thrifty.cc
/external/thrift-0.9.1/compiler/cpp/src/thrifty.hh
/external/thrift-0.9.1/compiler/cpp/src/windows/version.h
/external/thrift-0.9.1/compiler/cpp/thrift
/external/thrift-0.9.1/compiler/cpp/thriftl.cc
/external/thrift-0.9.1/compiler/cpp/thrifty.cc
/external/thrift-0.9.1/compiler/cpp/thrifty.h
/external/thrift-0.9.1/compiler/cpp/thrifty.hh
/external/thrift-0.9.1/compiler/cpp/version.h
/external/thrift-0.9.1/config.*
/external/thrift-0.9.1/configure.lineno
/external/thrift-0.9.1/configure.scan
/external/thrift-0.9.1/contrib/fb303/config.cache
/external/thrift-0.9.1/contrib/fb303/config.log
/external/thrift-0.9.1/contrib/fb303/config.status
/external/thrift-0.9.1/contrib/fb303/configure
/external/thrift-0.9.1/contrib/fb303/cpp/libfb303.a
/external/thrift-0.9.1/contrib/fb303/java/build/
/external/thrift-0.9.1/contrib/fb303/py/build/
/external/thrift-0.9.1/contrib/fb303/py/fb303/FacebookService-remote
/external/thrift-0.9.1/contrib/fb303/py/fb303/FacebookService.py
/external/thrift-0.9.1/contrib/fb303/py/fb303/__init__.py
/external/thrift-0.9.1/contrib/fb303/py/fb303/constants.py
/external/thrift-0.9.1/contrib/fb303/py/fb303/ttypes.py
/external/thrift-0.9.1/depcomp
/external/thrift-0.9.1/install-sh
/external/thrift-0.9.1/lib/cpp/Debug/
/external/thrift-0.9.1/lib/cpp/Debug-mt/
/external/thrift-0.9.1/lib/cpp/Release/
/external/thrift-0.9.1/lib/cpp/Release-mt/
/external/thrift-0.9.1/lib/cpp/src/thrift/qt/moc_TQTcpServer.cpp
/external/thrift-0.9.1/lib/cpp/src/thrift/config.h
/external/thrift-0.9.1/lib/cpp/src/thrift/stamp-h2
/external/thrift-0.9.1/lib/cpp/test/Benchmark
/external/thrift-0.9.1/lib/cpp/test/AllProtocolsTest
/external/thrift-0.9.1/lib/cpp/test/DebugProtoTest
/external/thrift-0.9.1/lib/cpp/test/EnumTest
/external/thrift-0.9.1/lib/cpp/test/JSONProtoTest
/external/thrift-0.9.1/lib/cpp/test/OptionalRequiredTest
/external/thrift-0.9.1/lib/cpp/test/SpecializationTest
/external/thrift-0.9.1/lib/cpp/test/ReflectionTest
/external/thrift-0.9.1/lib/cpp/test/RecursiveTest
/external/thrift-0.9.1/lib/cpp/test/TFDTransportTest
/external/thrift-0.9.1/lib/cpp/test/TFileTransportTest
/external/thrift-0.9.1/lib/cpp/test/TPipedTransportTest
/external/thrift-0.9.1/lib/cpp/test/TransportTest
/external/thrift-0.9.1/lib/cpp/test/UnitTests
/external/thrift-0.9.1/lib/cpp/test/ZlibTest
/external/thrift-0.9.1/lib/cpp/test/OpenSSLManualInitTest
/external/thrift-0.9.1/lib/cpp/test/concurrency_test
/external/thrift-0.9.1/lib/cpp/test/link_test
/external/thrift-0.9.1/lib/cpp/test/processor_test
/external/thrift-0.9.1/lib/cpp/test/tests.xml
/external/thrift-0.9.1/lib/cpp/concurrency_test
/external/thrift-0.9.1/lib/cpp/*.pc
/external/thrift-0.9.1/lib/cpp/x64/Debug/
/external/thrift-0.9.1/lib/cpp/x64/Debug-mt/
/external/thrift-0.9.1/lib/cpp/x64/Release
/external/thrift-0.9.1/lib/cpp/x64/Release-mt
/external/thrift-0.9.1/lib/c_glib/*.gcda
/external/thrift-0.9.1/lib/c_glib/*.gcno
/external/thrift-0.9.1/lib/c_glib/*.loT
/external/thrift-0.9.1/lib/c_glib/test/*.gcno
/external/thrift-0.9.1/lib/c_glib/test/testwrapper.sh
/external/thrift-0.9.1/lib/c_glib/test/testwrapper-test*
/external/thrift-0.9.1/lib/c_glib/test/testapplicationexception
/external/thrift-0.9.1/lib/c_glib/test/testbinaryprotocol
/external/thrift-0.9.1/lib/c_glib/test/testbufferedtransport
/external/thrift-0.9.1/lib/c_glib/test/testdebugproto
/external/thrift-0.9.1/lib/c_glib/test/testframedtransport
/external/thrift-0.9.1/lib/c_glib/test/testmemorybuffer
/external/thrift-0.9.1/lib/c_glib/test/testoptionalrequired
/external/thrift-0.9.1/lib/c_glib/test/testsimpleserver
/external/thrift-0.9.1/lib/c_glib/test/teststruct
/external/thrift-0.9.1/lib/c_glib/test/testthrifttest
/external/thrift-0.9.1/lib/c_glib/test/testthrifttestclient
/external/thrift-0.9.1/lib/c_glib/test/testtransportsocket
/external/thrift-0.9.1/lib/c_glib/thriftc.pc
/external/thrift-0.9.1/lib/c_glib/thrift_c_glib.pc
/external/thrift-0.9.1/lib/csharp/**/bin/
/external/thrift-0.9.1/lib/csharp/**/obj/
/external/thrift-0.9.1/lib/d/libthriftd.a
/external/thrift-0.9.1/lib/d/test/serialization_benchmark
/external/thrift-0.9.1/lib/d/test/transport_test
/external/thrift-0.9.1/lib/d/unittest/
/external/thrift-0.9.1/lib/delphi/src/*.dcu
/external/thrift-0.9.1/lib/delphi/test/*.identcache
/external/thrift-0.9.1/lib/delphi/test/*.local
/external/thrift-0.9.1/lib/delphi/test/*.dcu
/external/thrift-0.9.1/lib/delphi/test/*.2007
/external/thrift-0.9.1/lib/delphi/test/*.dproj
/external/thrift-0.9.1/lib/delphi/test/*.dproj
/external/thrift-0.9.1/lib/delphi/test/codegen/*.bat
/external/thrift-0.9.1/lib/delphi/test/skip/*.local
/external/thrift-0.9.1/lib/delphi/test/skip/*.identcache
/external/thrift-0.9.1/lib/delphi/test/skip/*.identcache
/external/thrift-0.9.1/lib/delphi/test/skip/*.dproj
/external/thrift-0.9.1/lib/delphi/test/skip/*.dproj
/external/thrift-0.9.1/lib/delphi/test/skip/*.2007
/external/thrift-0.9.1/lib/delphi/test/serializer/*.identcache
/external/thrift-0.9.1/lib/delphi/test/serializer/*.dproj
/external/thrift-0.9.1/lib/delphi/test/serializer/*.local
/external/thrift-0.9.1/lib/delphi/test/serializer/*.2007
/external/thrift-0.9.1/lib/delphi/test/multiplexed/*.dproj
/external/thrift-0.9.1/lib/delphi/test/multiplexed/*.2007
/external/thrift-0.9.1/lib/delphi/test/multiplexed/*.local
/external/thrift-0.9.1/lib/delphi/test/multiplexed/*.identcache
/external/thrift-0.9.1/lib/delphi/test/typeregistry/*.2007
/external/thrift-0.9.1/lib/delphi/test/typeregistry/*.dproj
/external/thrift-0.9.1/lib/delphi/test/typeregistry/*.identcache
/external/thrift-0.9.1/lib/delphi/test/typeregistry/*.local
/external/thrift-0.9.1/lib/erl/.generated
/external/thrift-0.9.1/lib/erl/.eunit
/external/thrift-0.9.1/lib/erl/ebin
/external/thrift-0.9.1/lib/erl/deps/
/external/thrift-0.9.1/lib/hs/dist
/external/thrift-0.9.1/lib/java/build
/external/thrift-0.9.1/lib/js/test/build
/external/thrift-0.9.1/lib/nodejs/node_modules/
/external/thrift-0.9.1/lib/perl/MANIFEST
/external/thrift-0.9.1/lib/perl/MYMETA.json
/external/thrift-0.9.1/lib/perl/MYMETA.yml
/external/thrift-0.9.1/lib/perl/Makefile-perl.mk
/external/thrift-0.9.1/lib/perl/blib
/external/thrift-0.9.1/lib/perl/pm_to_blib
/external/thrift-0.9.1/lib/py/build
/external/thrift-0.9.1/lib/py/thrift.egg-info/
/external/thrift-0.9.1/lib/rb/Gemfile.lock
/external/thrift-0.9.1/lib/rb/debug_proto_test
/external/thrift-0.9.1/lib/rb/.config
/external/thrift-0.9.1/lib/rb/ext/conftest.dSYM/
/external/thrift-0.9.1/lib/rb/ext/mkmf.log
/external/thrift-0.9.1/lib/rb/ext/thrift_native.bundle
/external/thrift-0.9.1/lib/rb/ext/thrift_native.so
/external/thrift-0.9.1/lib/rb/test/
/external/thrift-0.9.1/lib/rb/thrift-*.gem
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/Makefile.*
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/build/
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/config.*
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/configure
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/configure.in
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/install-sh
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/libtool
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/ltmain.sh
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/missing
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/mkinstalldirs
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/modules/
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/php_thrift_protocol.lo
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/run-tests.php
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/thrift_protocol.la
/external/thrift-0.9.1/lib/php/src/ext/thrift_protocol/tmp-php.ini
/external/thrift-0.9.1/lib/php/src/packages/
/external/thrift-0.9.1/lib/php/test/TEST-*.xml
/external/thrift-0.9.1/lib/php/test/packages/
/external/thrift-0.9.1/lib/py/dist/
/external/thrift-0.9.1/lib/erl/logs/
/external/thrift-0.9.1/libtool
/external/thrift-0.9.1/ltmain.sh
/external/thrift-0.9.1/stamp-h1
/external/thrift-0.9.1/Makefile
/external/thrift-0.9.1/missing
/external/thrift-0.9.1/test/status.html
/external/thrift-0.9.1/test/c_glib/test_client
/external/thrift-0.9.1/test/c_glib/test_server
/external/thrift-0.9.1/test/cpp/StressTest
/external/thrift-0.9.1/test/cpp/StressTestNonBlocking
/external/thrift-0.9.1/test/cpp/TestClient
/external/thrift-0.9.1/test/cpp/TestServer
/external/thrift-0.9.1/lib/go/test/gopath/
/external/thrift-0.9.1/lib/go/test/ThriftTest.thrift
/external/thrift-0.9.1/test/log/
/external/thrift-0.9.1/test/test.log
/external/thrift-0.9.1/test/erl/.eunit/
/external/thrift-0.9.1/test/erl/.generated
/external/thrift-0.9.1/test/go/bin/
/external/thrift-0.9.1/test/go/ThriftTest.thrift
/external/thrift-0.9.1/test/go/gopath
/external/thrift-0.9.1/test/go/pkg/
/external/thrift-0.9.1/test/go/src/code.google.com/
/external/thrift-0.9.1/test/go/src/gen/
/external/thrift-0.9.1/test/go/src/thrift
/external/thrift-0.9.1/test/hs/TestClient
/external/thrift-0.9.1/test/hs/TestServer
/external/thrift-0.9.1/test/py.twisted/_trial_temp/
/external/thrift-0.9.1/test/rb/Gemfile.lock
/external/thrift-0.9.1/tutorial/cpp/TutorialClient
/external/thrift-0.9.1/tutorial/cpp/TutorialServer
/external/thrift-0.9.1/tutorial/c_glib/tutorial_client
/external/thrift-0.9.1/tutorial/c_glib/tutorial_server
/external/thrift-0.9.1/tutorial/delphi/*.dsk
/external/thrift-0.9.1/tutorial/delphi/*.local
/external/thrift-0.9.1/tutorial/delphi/DelphiClient/dcu
/external/thrift-0.9.1/tutorial/delphi/DelphiServer/dcu
/external/thrift-0.9.1/tutorial/delphi/DelphiClient/*.local
/external/thrift-0.9.1/tutorial/delphi/DelphiClient/*.identcache
/external/thrift-0.9.1/tutorial/delphi/DelphiServer/*.identcache
/external/thrift-0.9.1/tutorial/delphi/DelphiServer/*.local
/external/thrift-0.9.1/tutorial/go/go-tutorial
/external/thrift-0.9.1/tutorial/go/calculator-remote
/external/thrift-0.9.1/tutorial/go/src/shared
/external/thrift-0.9.1/tutorial/go/src/tutorial
/external/thrift-0.9.1/tutorial/go/src/git.apache.org
/external/thrift-0.9.1/tutorial/hs/dist/
/external/thrift-0.9.1/tutorial/java/build/
/external/thrift-0.9.1/tutorial/js/build/
/external/thrift-0.9.1/ylwrap
